/* Reset browser defaults */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Make HTML and body fill the screen */
html,
body,
#root {
  width: 100%;
  height: 100%;
  /* overflow: hidden; Prevents scroll bars */
  background-color: #000000; /* Black background */
}